<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Note</title>
</head>
<body>
<div>
  <form action="/delete/">
    <label for="del">Delete </label>
    <input type="number" name="delete" id="del" placeholder="delete">

    <button type="submit">delete note</button>
  </form>
  <form action="/search/">
    <label for="ser">search</label>
    <input type="text" name="search" id="ser" placeholder="search">

    <button type="submit">get notes</button>
  </form>
</div>
{{range .Notes}}
<h1>note</h1>
<h1>{{.IdNote}} {{ .Type }} {{ .Body }} {{ .Date }}</h1>
{{end}}
</body>
</html>